


/* Estilo para o título */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para o campo de input e botão */
input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo para o botão */
.btn_filtrar{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_adicionar{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para a tabela */
.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    padding: 0%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.tabela_conteudo{
    
    width: 100%;
}

a{
    display: flex;
}
ul{
    padding: 1%;
    margin: 5%;
}
.tabela_cabecalho{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 0%;
    margin: 0%;
    border: 0%;   
}

.tabela-container_titulo{
    padding: 2%;
    margin: 0%;
}

.pop_up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.pop_up_conteudo{
    background-color: #fff;
    margin-left: 3%;
    margin-top: 25%;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    text-align: center;
}
.btn_fechar{
    
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }